/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
/* loading spinner */
:is(.block-language-page-table, .block-language-page-table-csv, .block-language-page-tasks) .loading {
	text-align: center;
}
:is(.block-language-page-table, .block-language-page-table-csv, .block-language-page-tasks) .loading .loading_spinner {	margin: 0 auto;
	width: 36px;
	height: 36px;
	border: 3px solid var(--ui1);
	border-top: 3px solid var(--tx1);
	border-radius: 50%;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% {transform: rotate(0deg);}	
	100% {transform: rotate(360deg);}	
}

table.page-table-viewer td:has(.inner-icon) {
	display: flex;
	gap: 0.3rem;
}
table.page-table-viewer td:has(.inner-icon) > * {
	padding: 0;
}

/* toolbar */
.toolbar {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.toolbar-left {
	display: flex;
	position: sticky;
	top: -34px;
	background: var(--background-primary);
}
.toolbar-right {
    display: flex;
	align-items: flex-end;
	margin-left: auto;
}
.is-mobile .toolbar-right,
.is-mobile .search-input-container {
	width: 100% !important;
}
.toolbar .box {
	position: relative;
}

.toolbar .menu {
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translateY(100%);
	max-height: 250px;
	overflow: auto;
}
.toolbar .menu .menu-item {
	align-items: start;
	justify-content: space-between;
}

/* pagination */
.toolbar .pagination-box {
	display: flex;
	flex-wrap:wrap;
}
.toolbar .pagination-box button {
	background: transparent;
}
.toolbar .pagination-box button:hover,
.toolbar .pagination-box button.is-active {
	background: var(--background-modifier-hover);
}
/* filter showing box */
.filter-showing-box {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	padding: 4px;
	line-height: 1.8;
	font-size: small;
}
.filter-showing-box .filter-tip {
	padding: 2px 0;
	margin-right: 8px;
	color: var(--icon-color);
}
.filter-showing-box .filter-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2px 8px;
	margin-right: 6px;
	cursor: pointer;
	border: 1px solid var(--divider-color);
	border-radius: 6px;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* tasks view */
.tasksListWrap {
	display: flex;
	gap: 20px;
}
.block-language-page-table .tasksListWrap {
	margin-top: auto;
	padding-top: 2rem;
}
.tasksListWrap :is(h1, h2, h3, h4, h5, h6) {
	margin: 0;
}
.taskList {
	width: 100%;
}

.taskList summary {
	cursor: pointer;
	padding-top: 0.4em;
}
.taskList summary::marker {
	transition: 0.2s;
}
.taskList details[open] > summary::marker {
	transform: rotate(180deg);
}