/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
:is(.block-language-page-table, .block-language-page-table-csv, .block-language-page-tasks) + .edit-block-button {
	right: 0 !important;
}
.block-language-page-table, .block-language-page-table-csv, .block-language-page-tasks {
	padding: 15px 0;
}
/* loading spinner */
:is(.block-language-page-table, .block-language-page-table-csv, .block-language-page-tasks) .loading {
	text-align: center;
}
:is(.block-language-page-table, .block-language-page-table-csv, .block-language-page-tasks) .loading .loading_spinner {	margin: 0 auto;
	width: 36px;
	height: 36px;
	border: 3px solid var(--ui1);
	border-top: 3px solid var(--tx1);
	border-radius: 50%;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% {transform: rotate(0deg);}	
	100% {transform: rotate(360deg);}	
}

/* toolbar */
.toolbar {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.toolbar-left {
	display: flex;
	position: sticky;
	top: -34px;
	background: var(--background-primary);
}
.toolbar-right {
    display: flex;
	align-items: center;
	margin-left: auto;
}
.is-mobile .toolbar-right,
.is-mobile .search-input-container {
	width: 100% !important;
}
.toolbar .box {
	position: relative;
}

.toolbar .menu {
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translateY(100%);
	max-height: 250px;
	overflow: auto;
}
.toolbar .menu .menu-item {
	align-items: start;
	justify-content: space-between;
}

/* pagination */
.toolbar .pagination-box {
	display: flex;
	flex-wrap:wrap;
}
.toolbar .pagination-box button {
	background: transparent;
}
.toolbar .pagination-box button:hover,
.toolbar .pagination-box button.is-active {
	background: var(--background-modifier-hover);
}
/* filter showing box */
.filter-showing-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	padding: 8px 0;
	line-height: 1.8;
	font-size: small;
}
.filter-showing-box .filter-tip {
	padding: 2px 0;
	margin-right: 8px;
	color: var(--icon-color);
}
.filter-showing-box .filter-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2px 8px;
	margin-right: 6px;
	cursor: pointer;
	border: 1px solid var(--divider-color);
	border-radius: 6px;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* filter-list */
.filter-list-container,
.appliedFilter {
    display: flex;
}
.filter-list {
	position: relative;
	border: 1px solid var(--divider-color);
	margin-right: 6px;
}
.filter-list .filteringBtn {
	padding: 2px 8px;
}
.filter-list .filter-list-title {
	margin-right: 4px;
}

.filter-list .menu {
	position: absolute;
	top: 100%;
    right: 0;
	max-width: 32em;
    max-height: 32em;
	overflow: auto;
}

.filter-list.selected {
	background: hsla(var(--interactive-accent-hsl), 0.1);
	border: none;
}
.filter-list.selected .filter-list-title,
.filter-list.selected .filter-list-title-icon .svg-icon {
	color: var(--text-accent);
}

/* table */
.cards table.dataview:is(.page-table-viewer, .page-csv-table-viewer) thead {
	display: none;
}
.page-table-wrapper {
	overflow: auto;
}
.table-view-tbody .file-title > a,
.table-view-tbody .file-title > a:hover {
	color: var(--text-normal);
	text-decoration: none;
	font-weight: 400;
}
.file-title > a::before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 4px;
	vertical-align: text-bottom;
	background-color: var(--text-normal);
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-file-text'%3E%3Cpath d='M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z'/%3E%3Cpath d='M14 2v4a2 2 0 0 0 2 2h4'/%3E%3Cpath d='M10 9H8'/%3E%3Cpath d='M16 13H8'/%3E%3Cpath d='M16 17H8'/%3E%3C/svg%3E");
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-file-text'%3E%3Cpath d='M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z'/%3E%3Cpath d='M14 2v4a2 2 0 0 0 2 2h4'/%3E%3Cpath d='M10 9H8'/%3E%3Cpath d='M16 13H8'/%3E%3Cpath d='M16 17H8'/%3E%3C/svg%3E");
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

/* ------------- */
/* tasks view */
.tasksListWrap {
	display: flex;
	gap: 20px;
}
.block-language-page-table .tasksListWrap {
	margin-top: auto;
	padding-top: 2rem;
}
.tasksListWrap :is(h1, h2, h3, h4, h5, h6) {
	margin: 0;
}
.taskList {
	width: 100%;
}

.taskList summary {
	cursor: pointer;
	padding-top: 0.4em;
}